.plugins-wrap .file-wrapper{
  flex-direction: column;
  width: 200px;
}

.plugins-wrap .file-wrapper > button{
  width: 100%;
}

.plugins-wrap .file-wrapper .file-input{
  height: 170px;
  justify-content: center;
  width: 100%;
  gap: 10px;
  flex-direction: column;
}

.plugins-wrap .plus-wrap{
  height: 75px;
  width: 75px;
  border-radius: 70px;
  background: #f4f5f6;
  display: flex;
  align-items: center;
  justify-content : center;
  border : 1px solid #ddd;
}

.plugins-wrap .has-file{
  background: success-bg-color;
}

.plugins-wrap .plus-wrap .plus{
  transform: scale(1.8);
}

.plugins-wrap .tick-wrap{
  background: success-foreground;
}
