.pop-over.pos-invoice-wrap .pop-over-inner {
  min-width: 0;
}

.pop-over.pos-invoice-wrap .pop-over-inner .pop-over-content{
 padding: 0 !important;
}

.pos-invoice-wrap .print-btn{
    padding: 15px;
  }

.pop-over.pos-invoice-wrap .pop-over-inner .invoice-inner{
  max-height: 400px;
  overflow: auto;
  padding 15px
}

.pos-invoice .invoice-head{
  padding 20px 0 0;
  text-align:center;
}

.pos-invoice .invoice-head img{
  max-height: 30px;
  width auto;
  object-fit: contain;
  margin: 0 auto;
}

.pos-invoice .order-info{
    display: flex;
    justify-content: space-between;
  column-gap: 10px;
    flex-wrap: wrap;
  margin 20px 0 0;
  border-top: 1px dashed #333;
  border-bottom: 1px dashed #333;
  padding 15px 0;
  }


  .pos-invoice .cart-tile-wrap{
    padding 15px 0;
    border-bottom: 1px dashed #333;
  }
.pos-invoice .invoice-footer{
  border-bottom: 1px dashed #333;
  padding 15px 0;
}
.pos-invoice .invoice-footer p{
  display: flex;
  justify-content: space-between;
}
.pos-invoice .invoice-info{
  padding: 20px 20px 0;
  text-align: center;
}
